.btn-clasic {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: var(--text, #F7FAFC);
    z-index: 1;
    background: var(--bg, #2194F2);
    position: relative;
    font-weight: 700;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 10px -3px rgba(0,0,0,0.1);
    box-shadow: 4px 8px 10px -3px rgba(0,0,0,0.1);
    transition: all 500ms;
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
}
.btn-clasic.secondary{
    --bg: #E8EDF5;
    --text: #0D141C;
}
.btn-clasic.no-expand{
    width: auto;
}
.btn-clasic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btn-clasic:hover {
    color: #e8e8e8; 
}

.btn-clasic:hover::before {
    width: 100%;
}