.container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    width: 70%;
}
.container.left{
    align-items: flex-start;
    text-align: start;
    margin-top: 1rem;

}
body{
    margin: 0;
    font-family: "Work Sans", sans-serif;
    background-color: #F7FAFC;
}

*, *::after, *::before{
    box-sizing: border-box;
}